/* Happy coding :D */
.introductionPage {
  font-family: sans-serif;
}

.featureIcon {
  width: 14rem;
  height: 14rem;
  padding: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(209, 213, 219, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

[data-bs-theme="dark"] .featureIcon {
  background-color: rgba(55, 65, 81, 0.5);
  border-color: rgba(75, 85, 99, 0.5);
}
